name: CI - Build & Test

on:
  push:
    branches: ["dev", "main"]
  pull_request:
    branches: ["dev"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build and run tests
        run: mvn -B clean test package

      - name: Upload artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: application-jar
          path: target/*.jar
